In [264]:
import pandas as pd
import pyodbc
import sqlite3

# Connection

In [265]:
DB = {"servername": "MSI\\SQLEXPRESS",
      "database": "DEDSDatabase1"}

export_conn = pyodbc.connect('DRIVER={SQL SERVER};SERVER=' + DB['servername'] + 
                             ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_cursor = export_conn.cursor()
export_cursor

In [266]:
connectie_sales = sqlite3.connect('go_sales.sqlite')
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"

product = pd.read_sql_query("SELECT * FROM product", connectie_sales)
product_type = pd.read_sql_query("SELECT * FROM product_type", connectie_sales)
product_line = pd.read_sql_query("SELECT * FROM product_line", connectie_sales)
SALES_sales_staff = pd.read_sql_query("SELECT * FROM sales_staff", connectie_sales)
SALES_sales_branch = pd.read_sql_query("SELECT * FROM sales_branch", connectie_sales)
SALES_retailer_site = pd.read_sql_query("SELECT * FROM retailer_site", connectie_sales)
SALES_country = pd.read_sql_query("SELECT * FROM country", connectie_sales)
order_header = pd.read_sql_query("SELECT * FROM order_header", connectie_sales)
order_details = pd.read_sql_query("SELECT * FROM order_details", connectie_sales)
target = pd.read_sql_query("SELECT * FROM SALES_TARGETData", connectie_sales)
returned_item = pd.read_sql_query("SELECT * FROM returned_item", connectie_sales)
return_reason = pd.read_sql_query("SELECT * FROM return_reason", connectie_sales)

In [267]:
def find_mutual_columns(dataset1, dataset2):
      column_names = set([])
      mutual_column_names = []
      for column in dataset1:
            column_names.add(column)
      for column in dataset2:
            if column in column_names:
                  mutual_column_names.append(column)
      return mutual_column_names

def merge_differing_columns(dataframe1, dataframe2, primary_key):
      # Pak de unieke columns uit de tweede dataframe
      column_names1 = set(dataframe1.columns)
      column_names2 = set(dataframe2.columns)
      uniques_from_2 = [primary_key]
      for column in column_names2:
            if column not in column_names1:
                  uniques_from_2.append(column)
      
      # Merge deze met de eerste dataframe
      return pd.merge(dataframe1, dataframe2.loc[:, uniques_from_2], on=primary_key, how='left')

In [268]:
connectie_staff = sqlite3.connect('go_staff.sqlite')

course = pd.read_sql_query("SELECT * FROM course", connectie_staff)
STAFF_sales_staff = pd.read_sql_query("SELECT * FROM sales_staff", connectie_staff)
STAFF_sales_branch = pd.read_sql_query("SELECT * FROM sales_branch", connectie_staff)
satisfaction = pd.read_sql_query("SELECT * FROM satisfaction", connectie_staff)
satisfaction_type = pd.read_sql_query("SELECT * FROM satisfaction_type", connectie_staff)
training = pd.read_sql_query("SELECT * FROM training", connectie_staff)

In [269]:
connectie_crm = sqlite3.connect('go_crm.sqlite')

age_group = pd.read_sql_query("SELECT * FROM age_group", connectie_crm)
CRM_country = pd.read_sql_query("SELECT * FROM country", connectie_crm)
retailer = pd.read_sql_query("SELECT * FROM retailer", connectie_crm)
retailer_contact = pd.read_sql_query("SELECT * FROM retailer_contact", connectie_crm)
retailer_headquarters = pd.read_sql_query("SELECT * FROM retailer_headquarters", connectie_crm)
retailer_segment = pd.read_sql_query("SELECT * FROM retailer_segment", connectie_crm)
CRM_retailer_site = pd.read_sql_query("SELECT * FROM retailer_site", connectie_crm)
retailer_type = pd.read_sql_query("SELECT * FROM retailer_type", connectie_crm)
sales_demographic = pd.read_sql_query("SELECT * FROM sales_demographic", connectie_crm)
sales_territory = pd.read_sql_query("SELECT * FROM sales_territory", connectie_crm)

In [270]:
# CSV files
inventory_levels = pd.read_csv('GO_SALES_INVENTORY_LEVELSData.csv')
product_forecast = pd.read_csv('GO_SALES_PRODUCT_FORECASTData.csv')

In [271]:
# Merge tables
sales_staff = merge_differing_columns(STAFF_sales_staff, SALES_sales_staff, 'SALES_STAFF_CODE')
sales_branch = merge_differing_columns(SALES_sales_branch, STAFF_sales_branch, 'SALES_BRANCH_CODE')
country = merge_differing_columns(SALES_country, CRM_country, 'COUNTRY_CODE')
retailer_site = merge_differing_columns(SALES_retailer_site, CRM_retailer_site, 'RETAILER_SITE_CODE')